*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f0f2f5;
    padding: 0px 15px;

}

.facebook-page{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    /* border: 2px solid black; */
}

.facebook-page .text{
    width: 500px;
    border-end-start-radius: 2px soid red;
    margin-bottom: 90px;
}


.facebook-page h1{
    font-size: 4rem;
    color: #1877f2;
    margin-bottom: 10px;
}

.facebook-page p{
    font-size: 1.75rem;
}

.facebook-page form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
               0 8px 16px rgba(0, 0, 0, 0.1);   
}

.facebook-page form input{
    height: 55px;
    width: 100%;
    padding: 0 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

.facebook-page form input:focus{
    outline: none;
    border-color: #1877f2;
}

.facebook-page form input::placeholder{
  color: #777;
  font-size: 1.063rem;
}

.login-link{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
}

.login-link .login-btn{
    padding: 15px;
    outline: none;
    border: none;
    font-size: 1em;
    font-weight: 600;
    background: #1877f2;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    transition: 0.2 ease;
}

.login-link .login-btn:hover{
    background: #0d65d9;
}

form a{
    text-decoration: none;

}

.login-link .forgot-password{
    color: #1877f2;
    font-size: 0.875rem;
}

.login-link .forgot-password:hover{
   text-decoration: underline;

}

.login-link::after{
    content: '';
    border: 1px solid #777;
    height: 0px;
}

.create-account{
    margin-top: 25px;
    text-align: center;
    margin-bottom: 20px;

}

.create-account a{
    padding: 15px 20px;
    background: #42b72a;
    border-radius: 6px;
    font-size: 1.063rem;
    font-weight: 600;
    transition: 0.2 ease;
}

.create-account a:hover{
   cursor: pointer;
   background: #3ab63b;
}

@media (max-width: 900px) {
    .facebook-page{
        flex-direction: column;
        text-align: center;
    
    }

    .facebook-page .text{
        margin-bottom: 30px;
    }
}

@media (max-width: 460px) {
   .facebook-page h1{
    font-size: 3.5rem;
   }
   .facebook-page p{
    font-size: 1.3rem;
   }
   form{
    padding: 15px;
   }
}